/* Dark mode */
:root {
    --red: #db3b1f;
    --orange: #e49723;
    --yellow: #e4e423;
    --green: #74dc74;
    --blue: #617fd9;
    --purple: #ae5bc7;
    --primary-neutral: #e9e9e9;
    --secondary: #7785e0;
    --tertiary: #e6d478;
    --secondary-background: #2d2f3455;
    --background: #101010;
    --code-background: #1f1f24;
    --code-text: #d7d7de;
    --note-primary: #0b2849;
    --note-background: #3467a0;
    --tip-primary: #0c4314;
    --tip-background: #259b37;
    --warning-primary: #42350c;
    --warning-background: #ac8c2a;
    --danger-primary: #420f09;
    --danger-background: #ba4033;
    --font: monospace;
}

/* Light mode */
/* :root {
    --red: #db3b1f;
    --orange: #e49723;
    --yellow: #e4e423;
    --green: #74dc74;
    --blue: #617fd9;
    --purple: #ae5bc7;
    --primary-neutral: #232323;
    --secondary: var(--blue);
    --tertiary: #cda710;
    --secondary-background: #a4a6b455;
    --background: #f1f1f1;
    --code-background: #30313a;
    --code-text: #d7d7de;
    --note-primary: #3467a0;
    --note-background: #9abee7;
    --tip-primary: #33ba47;
    --tip-background: #abe6ac;
    --warning-primary: #d1ac3e;
    --warning-background: #ebe0bf;
    --danger-primary: #ba4033;
    --danger-background: #e6b1ab;
    --font: monospace;
} */

header, footer {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

header h1, footer h1 {
    text-align: center;
    font-size: 35px;
    color: white;
}

header p {
    font-size: 20px;
}

header a {
    color: #e6d478;
    text-decoration: none;
}

header a:hover {
    color: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    width: min(90%, 800px);
    margin: auto;
    padding: 20px;
    background-color: var(--background);
    flex-grow: 1;
}

main img, main iframe {
    display: block;
    margin: 1ch auto 2ch;
    padding: 10px;
    height: 250px;
    width: auto;
}

.toc a {
    text-decoration: none;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--secondary);
    text-align: left;
    font-family: var(--font);
    font-weight: normal;
    padding-top: 10px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: var(--secondary);
    text-decoration: none;
}

h1, h1 a {
    font-size: 50px;
}

h2, h2 a {
    font-size: 30px;
}

h3, h3 a {
    font-size: 25px;
}

h4, h4 a {
    font-size: 23px;
}

h5, h5 a {
    font-size: 21px;
}

h6, h6 a {
    font-size: 20px;
}

p, ul, ol, td, th, cite, .callout, blockquote {
    color: var(--primary-neutral);
    font-family: var(--font);
    font-size: 16px;
}

a, .tooltip {
    color: var(--secondary);
    font-family: var(--font);
    font-size: large;
    transition: color .2s ease-in-out;
}

a:hover, .tooltip:hover {
    color: var(--tertiary)
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
    /* background-color: var(--secondary-background); */
    border: 2px solid var(--primary-neutral);
}

blockquote {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 4px solid var(--primary-neutral);
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--secondary-background);
}

.admonition {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-left: 4px solid var(--primary-neutral);
}

.note {
    background-color: var(--note-background);
    border-left: 4px solid var(--note-primary);
}

.tip {
    background-color: var(--tip-background);
    border-left: 4px solid var(--tip-primary);
}

.warning {
    background-color: var(--warning-background);
    border-left: 4px solid var(--warning-primary);
}

.danger {
    background-color: var(--danger-background);
    border-left: 4px solid var(--danger-primary);
}

.admonition-title {
    font-weight: bold;
    font-size: x-large;
}

.red {
    color: var(--red);
}

.orange {
    color: var(--orange);
}

.yellow {
    color: var(--yellow);
}

.green {
    color: var(--green);
}

.blue {
    color: var(--blue);
}

.purple {
    color: var(--purple);
}

p:has(cite), cite {
    text-align: right;
    font-style: italic;
}

.callout {
    display: block;
    background-color: var(--secondary-background);
    border: 2px solid var(--primary-neutral);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

code {
    background-color: var(--code-background);
    border: 2px solid var(--primary-neutral);
    padding: 3px;
    color: var(--code-text);
    font-family: monospace;
    font-size: large;
}

pre > code {
    display: block;
    background-color: var(--code-background);
    padding: 20px;
}
