.App {
  text-align: left;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff; 
}

::-webkit-scrollbar-thumb {
  background: #222222; 
}

::-webkit-scrollbar-thumb:hover {
  background: #3c3c3c; 
}

.App-body {
  margin: 0 auto;
  width: min(calc(400px + 30vw), 80vw);
  animation: fadeIn 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

.App-body .portrait {
  width: 40%;
  float: right;
  display: block;
  margin-left: calc(10px + 5vw);
  margin-bottom: 20px;
  box-shadow: 3px 3px #555;
}

@media (max-width: 450px) {
  .App-body .portrait {
    width: 100%;
    float: none;
    margin-left: 0;
  }
}

.App-body h1 {
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App-body h2 {
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App-body h3 {
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 10px;
  font-weight: 300;
  font-style: italic;
}

.App-body p {
  font-size: medium;
  font-weight: 300;
}

