.App {
  text-align: left;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff; 
}

::-webkit-scrollbar-thumb {
  background: #222222; 
}

::-webkit-scrollbar-thumb:hover {
  background: #3c3c3c; 
}

.App-body {
  margin: 0 auto;
  width: min(calc(400px + 30vw), 80vw);
  animation: fadeIn 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

.App-body .portrait {
  width: 40%;
  float: right;
  display: block;
  margin-left: calc(10px + 5vw);
  margin-bottom: 20px;
  box-shadow: 3px 3px #555;
}

@media (max-width: 450px) {
  .App-body .portrait {
    width: 100%;
    float: none;
    margin-left: 0;
  }
}

.App-body h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App-body h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.App-body p.subtitle {
  margin-bottom: 15px;
  margin-top: 5px;
  font-weight: 400;
  font-style: italic;
}

.listing {
  color: black;
  font-size: medium;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  margin-left: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.listing a {
  text-decoration: none;
  color: black;
}

.listing img {
  width: 25px;
  margin-right: 20px;
}

Button.back-button {
  border: hidden;
  cursor: pointer;
  font-weight: 350;
  font-size: medium;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  transition: 0.3s ease;
  margin-bottom: 15px;
}

Button.back-button:hover {
  background: #f5f5f5;
  transition: 0.3s ease;
}

.MJX-TEX {
  font-family: MJXZERO, MJXTEX;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

code {
  display: inline-block;
  background-color: #eee;
  padding: 2px;
  border-radius: 5px;
}

pre > code {
  border-radius: 5px;
  display: block;
  padding: 10px;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
}
